---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0lWjrFLcoGE3HmkpP4CuASAQfz4UMJgQA1apZaeG24X8qjIiA7M4UuCMyaIBln6R0UoWYTpCsfFRKNObr8E-aoBMxTP2Ism5LCeJoOh1N6pDTqPDOvZ2FSpixLOCSmr9iYtwf5e3ofejAVUNI3331b-aSAXg0VqI_AddQaEFMKsiW0xocBxbajgd1Vjm_WQJxU5C7TcWluL1xJuwJwAGSDMhhvSdfiklUOMs8W1IGBl6WE0a2P8Fh0315zLo5S9GhUuEb2PflJESAFKt5qkiYswP9ggtwI82xeOuTM3Ig9i-4grVfbdaay_jxrR0nHD-K1WkhbJGGpmP8ghXJr5kCFypEqnvBrFyakWIl43doXPvsNDEIYVRLlCvhzJmbJa_lckKKciCy8lhjaxL34VedDyDWiyucYZyVQz",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0lAh95Pnn1Bo3O34PsYh4hqJFrR4RKZjosdWeDz_fw8z9YU1oY1ToJG5FDsUK730_dEsB6NtWxWI5ehg6X_CSmsk5FzFLRPQkcb22BObtkU9-Zajo7E1Ag7Rt2lQ5XpukufJMRcPVrZflG-iri038g1d89uSmFwqTdqWkMclDcF9-tJ",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 784
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3450 W 99th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8759692,
                       "lng" : -105.0322845
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.87731252989271,
          [...]
