---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0kTu4XvvvF9wS8z-qPV-VGhNXN_U75qTsGdqZyojksV3c3pStwKTBfeklv91VpWF-8Dkheixqv0k8aShksptp8GpFzmRqi_v8AidmFECiOZ1DOwtjuJfRLqJf6DeVFPv2fb8LTuzd3bxuhhmxG7IcAlVwNAHfipgPMu12_oi0cM8GVMIuwZJQSY249Urw5dLEZzsiWz6LmiiQ02kCHMoOR96kJONE-jSagR46BnNiUTZKwdUCGx8XFgB-0bZp6zp5Pti_3_4HzC9_-s5AHBVdaVMu44NZK7bJAvodTWKiuijSt7-8dxF8vmx52ijjakdmsT66rLeHfwAGglw6ZzqoXpRcIPqo-zZDeY_H76bAnPXvfFkB14NX6zbzGifWKT-JYvT3mvf6rT6QB0DI3K_8_I6OYDI-AHVm1t",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0nV8Zvq7UTDSVKRZYaOVoWJmx6iL2kYQdcRH1cazzViZxpnWW0zTDBxqP7I-6Apt6IwuIEKDwDODTmGKKIwnpxCy8LDI-XgANKgkAB7MZQB3Io41NWAwzH3HUr26uLpqxc3FQyHj7Cw9wLIXxrUIgOc5A_VB8BkGiFddBxlTZ5M7xDW",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 784
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3450 W 99th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8759692,
                       "lng" : -105.0322845
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.87731252989271,
          [...]
