---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GOOGLE_API_KEY>&place_id=ChIJz7xda7iLa4cRYNf2sN8C17I
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "7577",
                    "short_name" : "7577",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "West 103rd Avenue",
                    "short_name" : "W 103rd Ave",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "West Central Westminster",
                    "short_name" : "West Central Westminster",
                    "types" : [ "neighborhood", "political" ]
                 },
                 {
                    "long_na[...]
