---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%2080123&radius=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0lFHEHYo4wMb9VygJ9U_c85J7PVGMgff0IZnYScsR8EceE4ct_eF6_5APoeZYvJlArkNQlqORNWzsRT8lGL6ejOtzxGix4biz00RAI5IWJIUzi0dC_g751du3tDT8XSCFCBkEPpq8W6wWo8eqgi2Pf1OnLonoHKkCWv5u7RarO9b-5Z1y80TR1Bv1KC3bsrGhNDgsNMhUBnICwKJveTHJhPqWMunR_rAfpxnt25SN__dIN-Kz2ay6EoKh0rqEwpP1eW-ZjPaH3rkUBochEqEy6aufZgKmYaL7mPwiTiafDjMABrIXPQcEhbGwmclvjQ45tog6wULkEE2JrUgzFy2jFznk4RmKvoYuhxlIFt6HDos4PTMVavpGqRPry-cYdw4jhPpnnyK-otAwcJVsZ-wROQZU1K",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "7306 W Bowles Ave, Littleton, CO 80123, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.60645460000001,
                       "lng" : -105.0791129
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.60784942989272,
                          "lng" : -105.0777121201073
                       },
                       "southwest" : {
                          "lat" : 39.60514977010727,
                          "lng" : -105.0804117798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Robert F. Clement Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 3264,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/118064829741878132096\"\u003ePaul Nelson\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0leRRE1U1F2Hf2NLr0nl-hcRLU-RRaXljc3KmEqWvcsA0AuF6q-QKuVCPA5kTlgJJ645S-f_fX6Q2aMlL6fjHrrSuZNEnuUzzOz5L7nePw7PZSCmwU899SyElV4sLAQwRw_ztDVD24YFHTl-yYTO0Fi4RI9jQ7MgILB4br2Nh9Ah2lt",
                       "width" : 2448
                    }
                 ],
                 "place_id" : "ChIJk4E8CwB_a4cRQrSQeNwQmTA",
                 "plus_code" : {
                    "compound_code" : "JW4C+H9 Littleton, Colorado",
                    "global_code" : "85FPJW4C+H9"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJk4E8CwB_a4cRQrSQeNwQmTA",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 3247
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3400 W Berry Ave, Littleton, CO 80123, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.6167587,
                       "lng" : -105.0332538
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.61825387989272,
          [...]
