---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%2080123&radius=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0mifH4BV9zaDCusHndG6wcSY0W5zihiNsZ14uUCT9bR91wQXetbvpektUSR1WHCXhyDRp0vLwBeCbBCh6yo8O55CE_ntmgwapiasuf6shNH9eZ4S8OVtrIQ8VCQaOrx4yEM6CxuQXALgz12S78jNdxezA-pgLRFnVTKXtkPBlaxWWiO1nrMhXmMKzup-L88XoOIFzezNMX9TzkMTBY6zwnHns2ay1HG_KCmINtHfw5ONnJMozyHcO7vjlNMLP0U-ebQ-1wt_azOih8sMKz--0II-Fvt7hyyDXJBQ5LRVgroTFY3rDI8_mMdZAPl8LH5aUq2LbL6RRCOGp3elNqnO-iRuqcW37hJnCT5qcJPaCCgN50YcgNPYHu69GGAsCmiGoQb2l4PDLsXEFTww-pAO1HVPZLO",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "7306 W Bowles Ave, Littleton, CO 80123, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.60645460000001,
                       "lng" : -105.0791129
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.60784942989272,
                          "lng" : -105.0777121201073
                       },
                       "southwest" : {
                          "lat" : 39.60514977010727,
                          "lng" : -105.0804117798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Robert F. Clement Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 3264,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/118064829741878132096\"\u003ePaul Nelson\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0nbIgvEfQAYsaXtFjLJ4DDgUvvKN4tU0C0GiRcnKjTlZ8V04pQkl2zVZgmsK0pl6pUKIfULuMmRpt-9Ua90UPtFmiIfC5iTLHB25I-RoUvE-kICvtVKkgfAQy6OhcuB1V5QreY6yQhf5T5TTgQ0cXSaxUdEb2cYjbqZeCLcTbGArunC",
                       "width" : 2448
                    }
                 ],
                 "place_id" : "ChIJk4E8CwB_a4cRQrSQeNwQmTA",
                 "plus_code" : {
                    "compound_code" : "JW4C+H9 Littleton, Colorado",
                    "global_code" : "85FPJW4C+H9"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJk4E8CwB_a4cRQrSQeNwQmTA",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 3247
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3400 W Berry Ave, Littleton, CO 80123, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.6167587,
                       "lng" : -105.0332538
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.61825387989272,
          [...]
