---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0lrxcfIEIQp3heh8-SMT9rufJTKokn-aNREq3s5UvWD4JtY41uqNcjXQ3ayf7ntbdqWZ-aZHB4SfYSbjwhnuXH6ydw9DlSyVRU6MyB0rAbwTmy6Qs6vGqYrbQAF4xAgx2st9WYJEjEDySM3GUgv7nMp6P3e66FSc70cz6rgo75HhGNw3HCmO8pdHQX9d2zutq3lk3U1RLuTEJEDxKlEDJ2cO2CMmxpuLMOC-XNglgF4WeJtZ39t-2DjUt8IBUXycuwSVV56bMNM5-jKQpg94fL0eqTwJL-2BaCn9x_KbcOtpDS1G2lMjD8WkyenTng4Dxs4cwpX4rLBqnm2UIzT03hov1a10W6_k3WIKNpD8lVpzkMXauJ3ikVlfggjBTumYBKomAWkej-8Jgzd57gjnwaIlCF8Fp2aJVNu",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0nRNCNS2RrnSMGMIvQJ_sAApeRAqNXNbG5krw6G5KTGXXS_WgWjyI6-wFJbC3RcNZ2nynVSS8ZxYzoiQK8GLMbjLJXsN_JD5lXUVm3JbkpU4DKoePO_cmA8wp_DSZN8YcxyC8woeaswvyss6AjtoFD7DTWT2eP8wIfgTOZt_tRS36vQ",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 783
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "5845 W 89th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8587356,
                       "lng" : -105.0602892
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86000712989273,
          [...]
