---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0kNnq95zHOZ-8Gamf79ILrPAKwx5ezivfYGIW5PgUP-xS9kHsMrhqC-s54VnCBGyY3hy_ApJE7cwPedwSI_VMXv6y9QCKsXVDr_OxyE7KmVJNbvm1dt-g65DCC0n60eZpRoXs6XqaSXbVTgFZv65DLYGS-_mxeG6B05vlU8UU91Y7nmkEM1W_GuUX5QBXRIaawkZs3UjScvUS9AYUSA0X4JXyM-rOZw7z7vDIbGUMIbZvGTUpUnBj50GynMbAIKr8Bpqa58Ys7qlIHMe8O6F40SLq_RfyvxFtS3icUk-bkkdtILPwXjUlZF3ZMHPBKsToQmDY_hQoB9G2w3NriCb8mfoMDNqBqkSzYwmnWtX4nLIL4cu2C1gfiq0MJLW2iS7lZl9Un5jfHHb2KevUD2loidKujE5jxAzgaK",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0nQERO1g1-lgmZ0Ko1GSDBKZF_8qlpm-GJ0b4UkfYlJxWKBg8adoEQmak-0rf7XTPXKCQASHndefgosBTolefrNcgEop4mzD1_w8c0ugYuWEyojUvMfk5JJ0aoHX3TReajw_L-RdP1t2fwOZpyth8_3zAh9cYXZRV_sdDnXVMwjOOlj",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 784
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3450 W 99th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8759692,
                       "lng" : -105.0322845
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.87731252989271,
          [...]
