---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyDWRc_5znnEpQ9KJgKn9ZkdyDxCLWFF4Sc&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0mfJ6G020ueYmnvBUUj2YRBW58Wx1xutcdqP6rUHn_k4ifnhqdEqY4X0vidKp0z5-nWt3sLa_UZv1x8Ffu-LQPJ-C_-IQz-MDTnJm83BY7H3MuYc25FqmpHHIZiZo3FDfPlD9c8Cxr3M5c7H8DLHxlMDzizkqfTJOt8aUDKRURxZ172-EPwxLiqXwZjxjulq1fMSTomoBzX_s8wRqh0YFhvM6v3-QfGSpYt33sReTTBMhnR1ZZQ8kmnijawDu4dJ24HhtGJ2tYfa31R8mPdF6Zeum7Ae9Ck4-B4xuY77JvqnlmBXlLKiUwUnayhiPDQ8m7_UZ1ze7Ey_KcfSsxU2LYBhNoRhBgCdmmzTTac81RAJDjaLRa0pvBk5-R5N_ZhMGuyt572P9sFc3B8ll0GjRFEC3MGjpc13EQH",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0lc-DH4PAwJ-xosda2kxwnx4uOA46_H5D5_e4YmnEiJSw0CbpyZjB4En0rVX-b6kUV0nmlbqFkrHFyRT-P2AnMXNgrjNsirBlGAfikvuMZT8u0MlnmwX4__ocV-Tg8uxRiIvSSr55ldxW_Msxpckd5jAC9ROeiOr-rGePBLnI1UajZA",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 783
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "5845 W 89th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8587356,
                       "lng" : -105.0602892
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86000712989273,
          [...]
