---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0lI7ErD4Q7lNQ-0d9P-kn73oPs5w-kNQW7nPajaCU6xPy8gCT0GHWCMasiJ9poG2Zw3ZWKLQ8e3aVlG_skRCK9t7LKIqXISJQncHnI3U_M4tfOgrcyRYwNc08Zsi6ZjsAf5yWUZtO2oKbo7Nma15LUD7DKnoQI8Jol6nPitwpiMm5rFHiRSa1QEF9dsiw8AZdP4dJs9oqO-DR-5PUp2mZgmFq-BjCcLxYqDHeAWzogt47VH3ddE0yrZ0n3FhsJeOxOPOoby8DpGWQRdUfw0j7pxbzUSEVd1XUGcnkUL9K5_HyezMHSGKj9g5t325g1lwG4k4Y7kCD7gts5QbKCl9ZFNPRQCJNCJQ1rrKF_gFHXmx5n63TQPPvRB8fwt0c7vhlOz91nHyoQh1nhW-ixGeycruLRxGXLL_tQe",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0kNBuzEQbWs643M22UfGUu1P8KsXelUpamCqYDujBoigeWrvpfuJ2lTSOWw0-bYWyn93sHHjiSWkYekURkqGuZTxcWupQl5DK29MZfwiWpDBBd92Ec521sXonkf2RmsHgb97QJyhcWs8HIia377-Y4odV_aqTwcHgTsMLf3QZwCZeRh",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 784
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3450 W 99th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8759692,
                       "lng" : -105.0322845
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.87731252989271,
          [...]
