---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0mGIHONMYZAZT7GJV0mKJYtwyU7BnKhM_RGwlaOd1V79BhXNFFV6DI_KB1ohIWk5VF3-ya9DKwJ_tZpA2Q7BShLvVbd5qEhwixNWwnCIM0lp5G5V41Ykg7vktqLJ2kfA1zHrFJ-Sf8hHJcWrN-5fgml36LktjFtiGjjF_cnZ5p20gkkPgZ-wTrvTzG2KoC0mup3G73ZQrW8K5yvULQqsIOGfG8Jur3mT3GSIPGDrlSqxXabiIq85pAGvYbM5DGwXcp3NHarqm1ON4lA9RIvPr18T6uk-JL9wnL6iL8y32v-A829jUaqnDUqtzHXtz-zmlA8Q2UE5UL_HJH3u7JPl65XSWbh91F1t6b_e-dWP6dox8Eh60gZECiujK3GvEU2wKGPx47RCOabfCin1z3cn7g9RyYLN5DnA5W6",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0nG2G2acEk-MllVcliiOoVJDD-pVFpPnmc3uVZ5JAsMSt0D5wAMY02RS3oBRwp4vL3C6MV0H80VGSoSJ89hF7MK-HTSNHC6LrfsR2tgVB6d6s3b2s9JcY5NrAO7pZTuU76rEYgjzIsHO36VWBIRcG3EANoY1ala_5eY8TsJlvx4dmXK",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 784
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "3450 W 99th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8759692,
                       "lng" : -105.0322845
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.87731252989271,
          [...]
