---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyDWRc_5znnEpQ9KJgKn9ZkdyDxCLWFF4Sc&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0kp6sIXmkoqsPm78tLXb6_ieH7HgV9FEDev4XkPhZj1zWdPtNTK2vYJ6_oPQntnNKFrosp605BqjYeTkdxSgZeJUy0IySEmFPcFtqcEys6pFe2dQW1I_3Avb_A-JZ0SphXmwtllhUbpkq6mcmTwBfhzVQvx_CNMpmsNBYjm-vvbzfKZbGkpu9k82qRZtDWha3DNFFOLhE-TnFTB3t3YMQV8NhC0z3gwGKPXekk_MEzVbE9o-m8IZJezbnY1S5PnyTmQk6wY1nsSc9h58qe6iKJLO1L1gNn2koUehwjkBJhZq50ESUVEPrrKpBhGI0KX5MfDciZ0Hkz0xOtPQkD6fQwCDhmE0i3PVsPMtMUiljbMQ6Q85BDTkOxR5S-hWv3JCperEABAX815FcsO7yDpjzSRVvIaMdg-Io7_",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0mKVk8aMKG-hDiNCQ6UtsFlvQfQfT9d2ny18ucGPDUYO1O5R2nCh32ePXYFTMWXOj6dt5tROkAvBTNdblCzRf8t_NkFAtzcDvaLWcW1O6iCyUmQRuCGS4BMYdMyGABcI2rozPbz8BzRCCAEet3f8AO1b517qp3vUOmkee0399dfgIyq",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 783
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "5845 W 89th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8587356,
                       "lng" : -105.0602892
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86000712989273,
          [...]
