---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<GOOGLE_API_KEY>&query=playgrounds%20parks%20Westminster&radius=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AZose0mhepqB_PCUunRFIcv_bL6lvXXAXsUh2rFtMiZxjstoHmZQBqrhtXIPqLQeEwbY2Fo4avDCawYo6HhyYYNzyIPQzOhrftufJKHVQ-u-iXuAV_JZoMCDR49MQBX5wlGyNtodMZ_OrXR_d3oeNvIpmTw_dWL6X_H973bQdGVcGHLBg0mVNq5RJHXmXqr9-DlHnyQebqF15MlqzVdvBeKbwwrNzx__ZDlZHjRgfEXMq5Lp3szkut-MKGj6rTF84SE-nODgvFEVVsYEUC2O-RdbGvGyT8JxlqxS6E8NjM7SQNxKnHcdHUaaqkpZti0l1LiL1EUPEOcY73AURwjV3ostXbrcNpfcD2ZyzKYVTAhxQMMHr2z3O2xMci-ZsCmHqmzzkVWxE2Bbwp_cx1kwDytGJILtnX1lQypHVeTS",
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "4801 W 92nd Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8643107,
                       "lng" : -105.0487757
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86610062989271,
                          "lng" : -105.0474230201073
                       },
                       "southwest" : {
                          "lat" : 39.86340097010727,
                          "lng" : -105.0501226798927
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/park-71.png",
                 "icon_background_color" : "#4DB546",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/tree_pinlet",
                 "name" : "Westminster Center Park",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2858,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/100887572622526165753\"\u003eA Google User\u003c/a\u003e"
                       ],
                       "photo_reference" : "AZose0mi7jbzrN1MP5uMaNXDIbYwVvjmnpZj8p_akA7WpoM20apjJ3b_aozVJTo0cD23yxovKC-B0kJCOvsE00Zyj6DCtpXBT3RPlswmSYqIS82SbPhnMxHkSJKH6cWrf14e31wTz4LRfQgRYw20uWeRXQvz0xSZnywF0jMl9qMl20TSE0sp",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "plus_code" : {
                    "compound_code" : "VX72+PF Westminster, Colorado",
                    "global_code" : "85FPVX72+PF"
                 },
                 "rating" : 4.6,
                 "reference" : "ChIJKZxVOcSJa4cRO4puGDbD9kE",
                 "types" : [ "park", "tourist_attraction", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 783
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "5845 W 89th Ave, Westminster, CO 80031, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8587356,
                       "lng" : -105.0602892
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.86000712989273,
          [...]
